.textbox {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 20%;
    position: absolute;
}

.button {
    position: fixed;
    right: 0;
    top: 0;
    background-color: lightblue;
    height: 20%;
    width: 20%;
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 80%;

}

h1 {
    font-family: "Gill Sans", sans-serif;
    font-size: 35px;
    font-weight: bold;
}

p {
    font-family: "Gill Sans", sans-serif;
    font-size: 25px;
}

a {
    display: block;
    color: black;
    font-family: "Gill Sans", sans-serif;
    font-size: 35px;
    font-weight: bold;
}